<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>500</title>

    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
<p class="not-found"> Fuck you </p>
<div class="tipsiz">
    <div class="tipsiz-body">
        <div class="left-arm arm"></div>
        <div class="face">
            <div class="upper-face">
                <div class="element">5</div>
                <div class="element">0</div>
                <div class="element">0</div>
            </div>
            <div class="mouth"></div>
        </div>
        <div class="right-arm arm"></div>
    </div>
</div>
<p> 抱歉！网站出现问题，暂时无法访问！<a href='javascript:'>👀👻</a></p>
<p class="en">Sorry，Source WebSite is going wrong and it can’t be accessed temporarily!</p>

</body>
</html>

