<html xmlns:th="http://www.thymeleaf.org">
<div class="footer">
    <div class="top">
        <div class="wrapper">
            <div class="clearfix">
                <a href="javascript:void(0)" class="fl"><img src="/img/foot1.png"/></a>
                <span class="fl">7天无理由退货</span>
            </div>
            <div class="clearfix">
                <a href="javascript:void(0)" class="fl"><img src="/img/foot2.png"/></a>
                <span class="fl">15天免费换货</span>
            </div>
            <div class="clearfix">
                <a href="javascript:void(0)" class="fl"><img src="/img/foot3.png"/></a>
                <span class="fl">满599包邮</span>
            </div>
            <div class="clearfix">
                <a href="javascript:void(0)" class="fl"><img src="/img/foot4.png"/></a>
                <span class="fl">手机特色服务</span>
            </div>
        </div>
    </div>
    <p class="dibu" onclick="location.href='http://www.beian.miit.gov.cn/'">赣ICP备20000195号&nbsp;&nbsp;&nbsp;<span>本网站是用来测试，请勿支付！！</span></p>
</div>
</html>
