<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="utf-8" />
    <title>编程书籍</title>
    <link rel="stylesheet" type="text/css" href="/css/public.css"/>
    <link rel="stylesheet" type="text/css" href="/css/idea.css" />
    <link rel="stylesheet" type="text/css" href="/css/proList.css" />
    <link rel="stylesheet" type="text/css" href="/css/page.css" />
</head>
<body>
<!------------------------------head------------------------------>
<div th:replace="header :: html"></div>
<!------------------------------idea------------------------------>
<div class="address">
    <div class="wrapper clearfix">
        <a href="/index" class="fl">首页</a>
        <span>/</span>
        <a href="/idea" class="on">编程书籍</a>
    </div>
</div>
<!-------------------current---------------------->
<div class="current">
    <div class="wrapper clearfix">
        <div class="fr choice">
            <p class="default">排序方式</p>
            <ul class="select">
                <li onclick="location.href='/idea/selectAll?cid=3&sort=1'">新品上市</li>
                <li onclick="location.href='/idea/selectAll?cid=3&sort=2'">销量从高到低</li>
                <li onclick="location.href='/idea/selectAll?cid=3&sort=3'">销量从低到高</li>
                <li onclick="location.href='/idea/selectAll?cid=3&sort=4'">价格从高到低</li>
                <li onclick="location.href='/idea/selectAll?cid=3&sort=5'">价格从低到高</li>
            </ul>
        </div>
    </div>
</div>
<!------------------------------imgList1------------------------------>
<div class="imgList1">
    <div class="wrapper">
        <div class="box2">
            <ul>
                <li th:each="i : ${#numbers.sequence(0,2)}">
                    <a th:href="@{'/details/'+${pageInfo.list[i].id}}">
                        <dl style="width: 354px;height: 412px;">
                            <dt><img th:src="${pageInfo.list[i].itemImage}" width="268px" height="268px"></dt>
                            <dd th:text="${pageInfo.list[i].itemTitle}"></dd>
                            <dd th:text="'￥'+${pageInfo.list[i].itemPrice}"></dd>
                        </dl>
                    </a>
                </li>
            </ul>
            <ul>
                <li th:each="i :${#numbers.sequence(3,5)}">
                    <a th:href="@{'/details/'+${pageInfo.list[i].id}}">
                        <dl style="width: 354px;height: 412px;">
                            <dt><img th:src="${pageInfo.list[i].itemImage}" width="268px" height="268px"></dt>
                            <dd th:text="${pageInfo.list[i].itemTitle}"></dd>
                            <dd th:text="'￥'+${pageInfo.list[i].itemPrice}"></dd>
                        </dl>
                    </a>
                </li>
            </ul>
            <ul>
                <li th:each="i :${#numbers.sequence(6,8)}">
                    <a th:href="@{'/details/'+${pageInfo.list[i].id}}">
                        <dl style="width: 354px;height: 412px;">
                            <dt><img th:src="${pageInfo.list[i].itemImage}" width="268px" height="268px"></dt>
                            <dd th:text="${pageInfo.list[i].itemTitle}"></dd>
                            <dd th:text="'￥'+${pageInfo.list[i].itemPrice}"></dd>
                        </dl>
                    </a>
                </li>
            </ul>
            <ul>
               <li th:each="i :${#numbers.sequence(9,11)}">
                    <a th:href="@{'/details/'+${pageInfo.list[i].id}}">
                        <dl style="width: 354px;height: 412px;">
                            <dt><img th:src="${pageInfo.list[i].itemImage}" width="268px" height="268px"></dt>
                            <dd th:text="${pageInfo.list[i].itemTitle}"></dd>
                            <dd th:text="'￥'+${pageInfo.list[i].itemPrice}"></dd>
                        </dl>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!--返回顶部-->
<div th:replace="gotop :: html"></div>
<div class="msk"></div>
<nav role="navigation" id="page">
</nav>
<!--footer-->
<div th:replace="footer :: html"></div>
<script src="/js/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/public.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/nav.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/pro.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/cart.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/location.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    let pages = [[${pageInfo.pageInfo.pages}]];
    let pageNum = [[${pageInfo.pageInfo.pageNum}]];
    var pageList = "<ul class='cd-pagination no-space'>";

    pageList += "<span>总共有" + pages + "页</span>";
    pageList += "<span>当前是" + pageNum + "页</span>";

    //判断上一页是否为第一页
    if ([[${pageInfo.pageInfo.isFirstPage}]]) {
        pageList += "<li class='button'><a class='disabled' href='javascript:void(0)'>上一页</a></li>";
    } else {
        pageList += "<li class='button'><a href='/idea/selectAll?cid=3&currentPage=" + [[${pageInfo.pageInfo.pageNum-1}]] + "'>上一页</a></li>";
    }

    //前5后4
    let start;
    let end;
    //当总页码小于10
    if(pages<=10){
        start=1;
        end=pages;
    }else{
        start=pageNum-5;
        end=pageNum+4;
        if(start<=0){
            start=1;
            end=start+9;
        }
        if(end>pages){
            end=pages;
            start=end-9;
        }
    }
    //遍历分页
    for (let i = start; i <= end; i++) {
        //判断是否是当前页
        if ([[${pageInfo.pageInfo.pageNum}]] == i) {
            pageList += "<li class='active'><a href='javascript:void(0)'>" + i + "</a></li>";
        } else {
            pageList += "<li><a href='/idea/selectAll?cid=3&currentPage=" + i + "'>" + i + "</a></li>";
        }
    }
    //判断是否是最后一页
    if ([[${pageInfo.pageInfo.hasNextPage}]]) {
        pageList += "<li class='button'><a href='/idea/selectAll?cid=3&currentPage=" + [[${pageInfo.pageInfo.pageNum+1}]] + "'>下一页</a></li>";
    } else {
        pageList += "<li class='button'><a class='disabled' href='javascript:void(0)'>下一页</a></li>"
    }

    pageList += "</ul>";

    $("#page").html(pageList);

    /*]]>*/
</script>

</body>
</html>
