<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ning.home_admin.mapper.OrderDetailsMapper">
  <resultMap id="BaseResultMap" type="com.ning.home_admin.bean.OrderDetails">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_details_id" jdbcType="VARCHAR" property="orderDetailsId" />
    <result column="order_details_price" jdbcType="DOUBLE" property="orderDetailsPrice" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from jd_order_details
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ning.home_admin.bean.OrderDetails">
    insert into jd_order_details (order_details_id, order_details_price
      )
    values (#{orderDetailsId,jdbcType=VARCHAR}, #{orderDetailsPrice,jdbcType=DOUBLE}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.ning.home_admin.bean.OrderDetails">
    update jd_order_details
    set order_details_id = #{orderDetailsId,jdbcType=VARCHAR},
      order_details_price = #{orderDetailsPrice,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, order_details_id, order_details_price
    from jd_order_details
    where order_details_id = #{orderId}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, order_details_id, order_details_price
    from jd_order_details
  </select>
</mapper>